<table>
  <tr>
    <th>Name</th>
    <th>Source</th>
    <th>Thumbnail</th>
    <th>Bild löschen</th>
  </tr>
  <tr *ngFor="let bild of getListe()">
    <td>
      <input type="text" [value]="bild.name" (change)="bild.name = name.value" #name>
    </td>
    <td>
      <input type="text" [value]="bild.src" (change)="bild.src = src.value" #src>
    </td>
    <td>
      <img [src]="bild.src" [alt]="bild.name" width="100" height="100">
    </td>
    <td>
      <button (click)="deleteImage(bild)">
        Bild löschen
      </button>
    </td>
  </tr>
</table>
<button (click)="addImage()">
  Bild hinzufügen
</button>

